{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'website/aktu.css' %}">
</head>
<body>
		<div class ="menu-bar" class="logo">
				<img src="{% static 'website/company.png' %}">
			<ul>
				<li><a href="{% url 'website-home' %}">Home</a></li>
				<li><a href="#">Academics</a>
                <div class="sub-menu-1">
                 <ul>
                 	<li><a href="{% url 'website-admission' %}">Admission</a></li>
                 	<li><a href="{% url 'website-course' %}">Courses</a></li>
                 	<li><a href="{% url 'website-syllabus' %}">Syllabus</a></li>
                 	<li><a href="{% url 'website-circular' %}">Circulars</a></li>
                 </ul>
               </div>
				</li>
				<li><a href="{% url 'website-contact' %}">Contact</a></li>
				<li><a href="#">Accounts</a>
			    <div class="sub-menu-2">
                  <ul>
                  	<li><a href="{% url 'website-fees' %}">Fee Structure</a></li>
                  	<li><a href="{% url 'onlinepayment' %}">Online Fee Payment</a></li>
                  </ul>
              </div>
				</li>
				<li><a href="#">Others</a>
					<div class="sub-menu-3">
					   <ul>
						 <li><a href="{% url 'login' %}">Login</a><li>
						 <li><a href="{% url 'register' %}">New here ?</a><li>
					     <li><a href="{% url 'website-complainbox' %}">Complain ?</a><li>
					   </ul>
			   </li>
			</ul>
		</div>
		<h1>
			About Our University:
		</h1>
        <br>
		<h2> HISTORY:</h2>
<p>Dr. A.P.J. Abdul Kalam Technical University (AKTU), formerly Uttar Pradesh Technical University (UPTU), is a public collegiate university in Lucknow in the Indian state of Uttar Pradesh. It was established as the Uttar Pradesh Technical University through the Government of Uttar Pradesh on 8 May 2000.Under the University Act, 'Technical Education' includes programmes of education, research and training in engineering, technology, architecture, town planning, pharmacy, applied arts and crafts and such other programmes and areas that the central government may declare by notification in the Gazette in consultation with All India Council for Technical Education (AICTE).
 <br>
 <br>
<br>The university was bifurcated into the Mahamaya Technical University and Gautam Buddha Technical University as of 1 May 2010 for better management of education in the state. On 1 May 2013 the Uttar Pradesh government decided to merged GBTU and MTU to bring back the original form of UPTU. On 31 October 2013, GBTU and MTU merged back to UPTU, the university with the maximum number of colleges affiliated to it, in India.On 18 September 2015, the university was officially renamed as     Dr. A.P.J. Abdul Kalam Technical University.</p>


<br>
<br>
<br>
<h2>OVERVIEW:</h2>
<p>The university is affiliating in nature and its jurisdiction spanned the state of Uttar Pradesh. It is one of the largest technical universities in India and perhaps in Asia. Because of its size, the number of colleges affiliated to it, and geographic dispersion, it is sub-divided into five zones with 45–50 colleges in each zone for the ease of management and facilitating inter-zonal comparison and possible internal competition to enhance quality of teaching-learning processes.

<br>
<br>
<br>The university envisioned to facilitate and nurture quality technical education and research in its own premises as well as all affiliated institutions. There were 49 affiliated colleges in 2000, now in August 2019, 785 colleges and institutions. The task of the university included conducting the SEE-UPTU for admission to programs affiliated to it. The university conducted central examinations each semester for all the affiliated colleges and institutions. Results were declared using technology-enabled systems. At present, August 2019 around 4,00,000 students are enrolled in its programmes. The medium of instruction and examination is English.

<br>
<br>As per a dipstick study conducted by MeritTrac in association with UPTU Watch magazine, the engineering talent pool of the university was found to be significantly better than the national average.
</P>
<br>
 <br>
 <br>
 <br>
  <div class="footer">
  <q>Copyright@SIET</q>
</div>
</body>
</html>